.Questionnaire {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Questionnaire button {
    display: block; /* Изменено на блочный элемент для центрирования */
    margin: 10px auto; /* Автоматический отступ для центрирования по горизонтали */
    padding: 12px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #3498db;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Questionnaire button:hover {
    background-color: #2980b9;
}

.Questionnaire h2 {
    color: #3498db;
}

.QuestionOption {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
}

.QuestionOption input {
    margin-right: 8px;
}
